<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
  <div ng-app="example">
		 <p>The module is a container for the different parts of an application.The module is a container for the application controllers.</p>
		 <p> always belong to a module..</p>
  	<div ng-controller="MainCtrl">
  		<input type="text" ng-model="myModel" placeholder="Start typing..." />
			<p>My model data: {{ myModel }}</p>
			<p>{{text}}</p>
			<p>{{text | reverse}}</p>
  	</div>
  	<div ng-controller="UserCtrl">
  		<p class="username">Welcome, {{ user.details.username }}</p>
  		<p class="id">User ID: {{ user.details.id}}</p>
  	</div>
  	<div>
  		<a example-button>Click</a>
  	</div>
  	<div>
  		<a example-button-tmpl>Click here</a>
  	</div>
		<div ng-controller="ServerCtrl">
  	</div>
		<div ng-controller="EmailsCtrl">
			<ul>
				<li ng-repeat="message in emails.messages">
					<p>From: {{ message.from }}</p>
					<p>Subject: {{ message.subject }}</p>
					<p>{{ message.sent | date:'MMM d, y h:mm:ss a' }}</p>
					<a href="" ng-click="deleteEmail($index)">Delete email</a>
				</li>
		</ul>
	</div>
	<a href="" ng-click="toggle = !toggle">Toggle nav</a>
	<ul ng-show="toggle">
  	<li>Link 1</li>
  	<li>Link 2</li>
  	<li>Link 3</li>
	</ul>
  </div>
  </body>
</html>